@{
    //VISTA INDICADORES
    ViewBag.Title = "Indicadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

    .chart-container {
        width: 10%;
        height: 980px;
        margin: 0 auto;
    }

    .pie-chart-container {
        height: 20px;
        width: 20px;
        float: left;
    }

    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>


<div class="row">
    <div class="col s12">
        <h2 class="header center">INDICADORES</h2>
    </div>
</div>

<div class="row">
    <div class="col m3 s12">
        <div class="card horizontal">
            <div class="card-image">
                <img class="circle responsive-img" src="@Url.Content("~/Img/indicadores/total_1.jpg")">
            </div>
            <div class="card-stacked">
                <div class="card-content blue darken-3">
                    <p id="total_rips_anio_actual" class="white-text"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col m3 s12">
        <div class="card horizontal">
            <div class="card-image">
                <img class="circle responsive-img" src="@Url.Content("~/Img/indicadores/total_2.jpg")">
            </div>
            <div class="card-stacked">
                <div class="card-content yellow darken-3">
                    <p id="total_rips_anio_actual_errores_estructura" class="white-text"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col m3 s12">
        <div class="card horizontal">
            <div class="card-image">
                <img class="circle responsive-img" src="@Url.Content("~/img/indicadores/total_3.jpg")">
            </div>
            <div class="card-stacked">
                <div class="card-content deep-orange darken-3">
                    <p id="total_rips_anio_actual" class="white-text">Tiene un total de - archivos con errores de validación para el año - .</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col m3 s12">
        <div class="card horizontal">
            <div class="card-image">
                <img class="circle responsive-img" src="@Url.Content("~/Img/indicadores/total_4.jpg")">
            </div>
            <div class="card-stacked">
                <div class="card-content teal darken-1">
                    <p id="total_rips_anio_actual" class="white-text">Tiene un total de - archivos radicados para el año - .</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col m4 s12">
        <canvas id="canvascantidadestadoripscargadostodosanios"></canvas>
    </div>
    <div class="col m4 s12">
        <canvas id="canvascantidadestadoripsvalidadostodosanios"></canvas>
    </div>
    <div class="col m6 s12">
        <canvas id="" />
    </div>
</div>

<div class="row">
    
    <div class="col m4 s12">
        <canvas id="canvascantidadestadoripscargadosestados"></canvas>
    </div>
    <div class="col m6 s12">
        <canvas id="" />
    </div>
</div>

<div class="row">
    <div class="col m6 s12">
        <canvas id="canvascantidadestadoripscargadosxanioxmes" />
    </div>
    <div class="col m3 s12">
        
    </div>
    <div class="col m3 s12">
       
    </div>

</div>

<div class="row">
    <div class="col m6 s12">
        <canvas id="canvascantidadestadoripscargadostodosaniospreradicados" />
    </div>
    <div class="col m6 s12">
        <canvas id="canvascantidadestadoripscargadosxestadospreradicados"></canvas>
    </div>
</div>

<div class="row">
    <div class="col m4 s12">

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/chartjs")
    @Scripts.Render("~/bundles/indicadoresjs")
    
    <script>
      
    </script>
}