<!DOCTYPE html>
<html lang="es">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">

    <title>@ViewBag.Title - Cargador RIPS</title>
    @Styles.Render("~/Content/material")
    @Styles.Render("~/Content/estilosexternos")
    @Styles.Render("~/Content/tinglecss")
    @Styles.Render("~/Content/fuentescss")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="@Url.Content("~/Img/logo.ico")" />
    <noscript>Su navegador no soporta JavaScript, la aplicación requiere que tengas activado javascript</noscript>
    @Scripts.Render("~/bundles/jquery")

</head>
<body>

    <header>

        <!-- Menu -->
        <ul id="slide-out" class="side-nav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="@Url.Content("~/Img/sidemenu-hero.jpg")">
                    </div>
                    <a href="#!user"><img class="circle" id="imguser"></a>
                    <a href="#!" class="dropdown-button dropdown" data-activates="droupdown1">
                        <span class="white-text email">
                            Más acciones
                            <i class="material-icons tooltipped" data-position="bottom" data-delay="20" data-tooltip="Más acciones">arrow_drop_down_circle</i>
                        </span>
                    </a>
                    <a href="#!name"><span class="white-text name" id="nombreuserspan"></span></a>
                        <span class="white-text email">
                            <b id="emailspan"></b>
                        </span>
                    <span class="white-text hide"><b id="codigospan">@HttpContext.Current.User.Identity.Name </b></span>
                    @Html.Partial("_DropdownUserPartial")
                </div>
            </li>

            <div id="tokenacces">
            </div>

            <li id="li-cargar"><a href="@Url.Action("Index","Home")"><i class="material-icons">error_outline</i>Listado RIPS</a></li>
            <li id="li-cargar"><a href="@Url.Action("ViewCargaRips","CargarRips")"><i class="material-icons">note_add</i>Cargar RIPS</a></li>
            <li id="li-reportes"><a href="@Url.Action("Index","Reportes")"><i class="material-icons">picture_as_pdf</i>Indicadores</a></li>
            <!--<li id="li-auditorias"><a href="#!"><i class="material-icons">rate_review</i>Auditorias</a></li>-->
            <li><div class="divider"></div></li>
            <li id="li-descargarvalidador"><a class="waves-effect" href="#!" onclick="vistaDescargarValidador()"><i class="material-icons">loupe</i>Descargar Validador RIPS escritorio</a></li>
            <li id="li-ayuda"><a class="waves-effect" href="@Url.Action("Index","Ayuda")"><i class="material-icons">import_contacts</i>Ayuda</a></li>
        </ul>


        <!--/ Menu -->
        <!--Navbar-->
        <nav class="nav-extended deep-cyan cyan darken-1">
            <div class="nav-wrapper">
                <a id="logo-container" href="#!" class="brand-logo"><img src="@Url.Content("~/Img/logo2.png")" alt="logo" width="auto" height="65"></a>
            </div>
            <div class="nav-content" id="contenidoNav">
                <div id="tabsNav">

                </div>
                <div>
                    <a href="#!" data-activates="slide-out" id="button-collapse" class="btn-floating btn-large halfway-fab waves-effect cyan darken-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Menú">
                        <i class="material-icons">menu</i>
                    </a>
                </div>

            </div>
        </nav>
    </header>
    <!--/.Navbar-->

    <br />
    <main>
        <!-- contenido -->

        <div id="contenedor" class="container">
            @RenderBody()
        </div>

    </main>

    <footer class="page-footer cyan lighten-2">
        <div class="container">
            <div class="row">
                <div class="col l4 s12">
                    <h5 class="white-text"><a class="grey-text text-lighten-3" href="http://www.saludcapital.gov.co/Paginas2/Inicio.aspx" target="_blank">SECRETARÍA DISTRITAL DE SALUD</a></h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Cra 32 # 12-81 Bogotá, Colombia</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Teléfono: (571) 3649090</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Código Postal: 111611</a></li>
                        <!--<li><a class="grey-text text-lighten-3" href="#!">contactenos@saludcapital.gov.co</a></li>-->
                    </ul>
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">Entes del Gobierno</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://www.minsalud.gov.co/Paginas/default.aspx" target="_blank">Ministerio de Salud y Protección Social</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://estrategia.gobiernoenlinea.gov.co/623/w3-channel.html" target="_blank">Gobierno Digital</a></li>
                    </ul>
                </div>
                <div class="col l4 s12">
                    <h6 class="white-text" href="http://www.saludcapital.gov.co/DPYS/Paginas/RegistroIndividualdePrestaciondeServicios.aspx" target="_blank">Información RIPS</h6>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Teléfono. 3649675 </a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">asistenciarips@saludcapital.gov.co </a></li>
                    </ul>
                    <h5 class="white-text">Construido Por:</h5>
                        <!--<iv class="chip">
                        <img src="@Url.Content("~/Img/avatarsusers/yop.jpg")" alt="desarrollador">
                        Alex Cifuentes Sánchez &copy; - @DateTime.Now.Year
                        </div>-->
                    <div class="chip">
                        <img src="@Url.Content("~/Img/team.jpg")" alt="EGI">
                        Equipo de Gestión de la Información.
                    </div>
                </div>


            </div>
            
        </div><!--</container>-->
        <!--<footer-copyright 1>-->
        <div class="footer-copyright">

            <div class="container">
                <div class="row">
                    <div class="col l12 s12 center-align">
                        <img src="@Url.Content("~/Img/alcaldia_logo2.jpg")" alt="Bogotá" width="auto" height="40">
                    </div>
                </div>
                <div class="row">

                    <div class="col l12 s12 center-align">
                        SECRETARÍA DISTRITAL DE SALUD | Subsecretaría de Gestión y Planeación Sectorial | Dirección de Planeación Sectorial
                    </div>
                </div>
            </div>
        </div>
        <!--</footer-copyright 1>-->
        <!--</footer-copyright 2>-->
        <div class="footer-copyright">

            <div class="container">
                <div class="row">
                    <div class="col l12 s12 center-align">
                        &copy; - @DateTime.Now.Year | Versión 1.4.4
                    </div>
                </div>
            </div>
        </div>
        <!--</footer-copyright 2>-->
    </footer>

        @Scripts.Render("~/bundles/jsmaterial")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/layoutjs")
        @RenderSection("scripts", required: false)

    </body>
    </html>
